
EvernoteExample/MyCloudNotes/MyCloudNotes.xcodeproj/project.xcworkspace/xcuserdata/swiftdev.xcuserdatad/UserInterfaceState.xcuserstate

EvernoteExample/MyCloudNotes/MyCloudNotes.xcodeproj/xcuserdata/swiftdev.xcuserdatad/xcschemes/MyCloudNotes.xcscheme
